@use './variaveis' as *;

.cabecalho {
    background-color: $accent;
    height: 80px;
    display: flex;             // ativa o flexbox
    justify-content: center;   // centraliza horizontalmente
    align-items: center;       // centraliza verticalmente

    h1 {
        color: white;
        margin: 0;             // remove margem padrão do h1
        font-family: 'Montserrat';
        font-weight: 600;
    }
}
