@use './variaveis' as *;

.cabecalho {
    background-color: $accent;
    height: 80px;
    display: flex;             // ativa o flexbox
    justify-content: center;   // centraliza horizontalmente
    align-items: center;       // centraliza verticalmente

    h1 {
        color: $background;
        margin: 0;             // remove margem padrão do h1
    }
}
