@use './variaveis.scss' as *;

.coluna {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column; // itens dentro da coluna em coluna
    gap: 20px;
    border-radius: 10px;

    .titulo {
        font-size: 18px;
        color: $accent;
        text-align: center;
        font-family: $font-primary;
        margin-bottom: 10px;
    }

    .info-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 8px;
    }
}
