@use './variaveis.scss' as *;

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;    
    align-items: center;       
    justify-content: flex-start; 
    gap: 20px;


    h1 {
        font-size: 26px;
        color: $accent;
        margin-bottom: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .colunas-container {
        display: flex;
        flex-direction: row;      // colunas lado a lado
        justify-content: center;  // centraliza colunas horizontalmente
        gap: 50px;
        width: 100%;
    }
}
