@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$background: #f4f7f9;
$primary: #1a2b3c;
$secondary: #7c8c9a;
$accent: #00647a;
$button: orange; 

$text-primary: $background;
$text-background: $primary;
$font-primary: 'Verdana';
$font-size: 16px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}